// Заголовки, загальні БЕМ блоки та інше...
.title {
  &__label {
    color: $grayColor;
    font-family: "Inter";
    font-size: toRem(12);
    font-style: normal;
    font-weight: 500;
    line-height: 2; /* 200% */
    letter-spacing: em(7.5, 12);
    // padding-left: toRem(35);
    display: flex;
    align-items: center;
    gap: toRem(16);
    text-transform: uppercase;
    &::before {
      content: "";
      width: toRem(16);
      height: toRem(2);
      background-color: #d9d9d9;
    }
    &:not(:last-child) {
      margin-bottom: em(9, 12);
    }
  }

  &__value {
    font-family: "Plus Jakarta Sans";
    @include adaptiveValue("font-size", 36, 28);
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    span {
      color: $purpurColor;
    }
    &_big {
      @include adaptiveValue("font-size", 44, 28);
      line-height: em(55, 44);
    }
  }
}
//====================================================================================================
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: toRem(5);
  @include adaptiveValue("column-gap", 34, 15);
  &__link {
    font-size: toRem(22);
    @media (any-hover: hover) {
      &:hover {
        color: $purpurColor;
      }
    }
  }
}
//====================================================================================================
.category-link {
  display: inline-block;
  border: 1px solid #f1f1f1;
  border-radius: toRem(4);
  color: #656d72;
  font-size: toRem(12);
  padding: toRem(4) toRem(8);
  line-height: math.div(15, 12);
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      border: 1px solid #a5a5a5;
      color: #5a5f63;
    }
  }
}
//====================================================================================================
