// Заголовки, загальні БЕМ блоки та інше...
.title {
  &__label {
    color: $grayColor;
    font-family: "Inter";
    font-size: toRem(12);
    font-style: normal;
    font-weight: 500;
    line-height: 2; /* 200% */
    letter-spacing: em(7.5, 12);
    // padding-left: toRem(35);
    display: flex;
    align-items: center;
    gap: toRem(16);
    text-transform: uppercase;
    &::before {
      content: "";
      width: toRem(16);
      height: toRem(2);
      background-color: #d9d9d9;
    }
    &:not(:last-child) {
      margin-bottom: em(9, 12);
    }
  }

  &__value {
    font-family: "Plus Jakarta Sans";
    font-size: toRem(36);
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    span {
      color: $purpurColor;
    }
    &_big {
      font-size: toRem(44);
      line-height: em(55, 44);
    }
  }
}
