//====================================================================================================
.main-section {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100%;
    align-items: center;
    padding-top: toRem(80);
    padding-bottom: toRem(30);
    column-gap: toRem(20);
    @media (max-width: $mobile) {
      grid-template-columns: auto;
      row-gap: toRem(30);
    }
  }

  &__content {
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 16);
    }
    p {
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
  }

  &__text {
    line-height: 2;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }

  &__image {
    img {
    }
  }
}

.main-section {
  &__social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: toRem(5);
    @include adaptiveValue("column-gap", 34, 25);
  }
  &__decor {
  }
}

.decor-main-section {
  max-width: 336px;
  margin: 0 toRem(22);
  justify-self: center;
  @media (min-width: $mobile) {
    width: 100%;
    justify-self: end;
  }
  @media (max-width: $mobile) {
    max-width: none;
    @include adaptiveValue("width", 336, 246);
  }

  &__box {
    position: relative;
    padding-bottom: percent(400, 336);
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: toRem(16);
    }
    &::before {
      z-index: 1;
      background-color: #7e74f1;
      transform: rotate(-9.55deg);
    }
    &::after {
      z-index: 2;
      background: #eae6fe url("@img/main/lines.svg") top right / 58% no-repeat;
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: toRem(16);
    overflow: hidden;
  }

  &__picture {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
  }
}

//====================================================================================================

.page {
  &__services {
    background-color: #fbfbfb;
  }
}
.services {
  &__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: toRem(30);
    padding-top: toRem(80);
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 100, 30);
    }
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
    @include adaptiveValue("gap", 56, 20);
  }

  &__item {
    background-color: #fff;
    // padding: toRem(53) toRem(57);
    @include adaptiveValue("padding-top", 53, 20);
    @include adaptiveValue("padding-bottom", 53, 20);
    @include adaptiveValue("padding-left", 57, 20);
    @include adaptiveValue("padding-right", 57, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.item-services {
  border-radius: toRem(8);
  &__icon {
    padding: toRem(16);
    background-color: #f5f3fe;
    border-radius: toRem(16);
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }

  &__title {
    font-family: "Plus Jakarta Sans";
    font-size: toRem(16);
    font-style: normal;
    font-weight: 500;
    line-height: math.div(20, 16);
    text-align: center;
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }

  &__text {
    text-align: center;
    font-size: toRem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
  }
}
