//====================================================================================================
.main-section {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100%;
    align-items: center;
  }

  &__content {
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(32);
    }
  }

  &__text {
    line-height: 2;
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
  }

  &__image {
    img {
    }
  }
}

.main-section {
  &__social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: toRem(5);
    @include adaptiveValue("column-gap", 32, 15);
  }
  &__decor {
  }
}

.decor-main-section {
  width: 100%;
  justify-self: end;
  max-width: 336px;

  &__box {
    position: relative;
    padding-bottom: percent(400, 336);
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: toRem(16);
    }
    &::before {
      z-index: 1;
      background-color: #7e74f1;
      transform: rotate(-9.55deg);
    }
    &::after {
      z-index: 2;
      background: #eae6fe url("@img/main/lines.svg") top right / 58% no-repeat;
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: toRem(16);
    overflow: hidden;
  }

  &__picture {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
  }
}

//====================================================================================================
